---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 font-sans sm:px-4">
    <table align="center">
      <tr>
        <td
          class="w-full max-w-[600px] bg-[#C30F28] sm:w-[600px] sm:max-w-full"
        >
          <table class="w-full">
            <!-- Intro [start] -->
            <tr>
              <td class="pt-12 text-center sm:px-6 sm:py-8">
                <a href="https://planeta-electro.com/">
                  <img
                    class="sm:w-32"
                    src="images/logo.png"
                    alt="Planeta-electro"
                  />
                </a>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-4 sm:leading-0">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-2xl font-bold sm:text-lg">
                Здравствуйте, Евгений
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-2">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-lg font-medium sm:text-base">
                Мы получили ваш заказ
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-2">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center">
                <img
                  src="https://unicom-ykt.ru/assets/img/mail-mount-icon.png"
                  alt="Truck"
                />
              </td>
            </tr>
            <!-- Intro [end] -->
            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-4">
                <table class="w-full">
                  <tr>
                    <td class="rounded-lg bg-white px-[30px] text-black">
                      <table class="w-full">
                        <tr>
                          <td class="py-7 sm:py-4">
                            <table class="w-full">
                              <tr>
                                <td class="sm:block">
                                  <table class="w-full">
                                    <tr>
                                      <td
                                        class="text-2xl font-bold sm:text-center sm:text-[20px] sm:leading-10"
                                      >
                                        ЗАКАЗ #1000
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td class="sm:block">
                                  <table class="w-full">
                                    <tr>
                                      <td
                                        class="text-end text-gray-500 sm:text-center sm:text-[13px]"
                                      >
                                        от 20.01.2024 г.
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div
                              class="h-px border-0 border-t border-dashed border-slate-300 bg-none leading-px"
                              role="separator"
                            >
                              &zwj;
                            </div>
                          </td>
                        </tr>
                        <tr role="separator">
                          <td class="leading-7 sm:leading-6">&zwj;</td>
                        </tr>
                        <tr>
                          <td
                            class="text-md text-center font-semibold sm:text-start sm:text-base"
                          >
                            Состав заказа
                          </td>
                        </tr>
                        <tr role="separator">
                          <td class="leading-5">&zwj;</td>
                        </tr>
                        <!-- Table row [start] -->
                        <tr>
                          <td class="max-w-[508px]">
                            <table class="w-full">
                              <thead>
                                <tr class="bg-[#F9F9F9]">
                                  <td
                                    align="start"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Товар
                                  </td>
                                  <td
                                    align="start"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Кол-во
                                  </td>
                                  <td
                                    align="start"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Цена
                                  </td>
                                  <td
                                    align="end"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Сумма
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- Product row [start] -->
                                <tr>
                                  <td>
                                    <table class="w-full">
                                      <tr>
                                        <td class="min-w-[80px]">
                                          <img
                                            src="https://unicom-ykt.ru/uploads/images/original/70c1/70c15fb6edca11e682177062b8b53ba3_0.jpg"
                                            width="80"
                                            height="80"
                                            alt="Product"
                                          />
                                        </td>
                                        <td class="py-4 pl-2">
                                          <table class="w-full">
                                            <tr>
                                              <td class="min-w-[180px] text-sm">
                                                Штукатурка гипсовая
                                                универсальная Ротбанд KNAUF 30
                                                кг.
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                class="pt-2 text-sm text-[#616161]"
                                              >
                                                Код: 2862
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td
                                    align="center"
                                    valign="top"
                                    class="whitespace-nowrap px-2 py-4 font-semibold"
                                  >
                                    100 шт.
                                  </td>
                                  <td
                                    align="center"
                                    valign="top"
                                    class="whitespace-nowrap px-2 py-4 font-semibold"
                                  >
                                    1800 ₽
                                  </td>
                                  <td valign="top" class="py-4">
                                    <table class="w-full">
                                      <tr>
                                        <td
                                          align="end"
                                          class="whitespace-nowrap px-2 text-slate-400 line-through"
                                        >
                                          10 000 ₽
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          align="end"
                                          class="whitespace-nowrap px-2 font-semibold"
                                        >
                                          7 800 ₽
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                </tr>
                                <!-- Product row [end] -->
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <!-- Table row [end] -->
                        <tr role="separator">
                          <td class="leading-4">&zwj;</td>
                        </tr>
                        <!-- Total row [start] -->
                        <tr>
                          <td>
                            <table class="w-full text-sm">
                              <tr>
                                <td class="font-semibold">Общий вес:</td>
                                <td
                                  align="end"
                                  class="font-medium text-[#737373]"
                                >
                                  1000 кг
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td class="font-semibold">Товаров в заказе:</td>
                                <td
                                  align="end"
                                  class="font-medium text-[#737373]"
                                >
                                  10
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td class="font-semibold">Товары на сумму:</td>
                                <td
                                  align="end"
                                  class="font-medium text-[#737373]"
                                >
                                  24 089,00 ₽
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td class="font-semibold">
                                  Стоимость доставки:
                                </td>
                                <td
                                  align="end"
                                  class="font-medium text-[#737373]"
                                >
                                  100 ₽
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td class="font-semibold">Скидка:</td>
                                <td
                                  align="end"
                                  class="font-medium text-[#C30F28]"
                                >
                                  -100 ₽
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td class="font-semibold">Итого:</td>
                                <td
                                  align="end"
                                  class="text-2xl font-bold leading-4 text-[#19191E]"
                                >
                                  100 000 ₽
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- Total row [end] -->
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
