---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 font-sans sm:px-4">
    <table align="center">
      <tr>
        <td
          class="w-full max-w-[600px] bg-[#C30F28] sm:w-[600px] sm:max-w-full"
        >
          <table class="w-full">
            <!-- Intro [start] -->
            <tr>
              <td class="pt-12 text-center sm:px-6 sm:py-8">
                <a href="https://planeta-electro.com/">
                  <img
                    class="sm:w-32"
                    src="images/logo.png"
                    alt="Planeta-electro"
                  />
                </a>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-4 sm:leading-0">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-2xl font-bold sm:text-lg">
                Здравствуйте, Евгений
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-2">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-lg font-medium sm:text-base">
                Мы получили ваш заказ
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-2">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center">
                <img
                  src="https://unicom-ykt.ru/assets/img/mail-mount-icon.png"
                  alt="Truck"
                />
              </td>
            </tr>
            <!-- Intro [end] -->
            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-4">
                <table class="w-full">
                  <tr>
                    <td class="rounded-lg bg-white px-[30px] text-black">
                      <table class="w-full">
                        <tr>
                          <td class="py-7 sm:py-4">
                            <table class="w-full">
                              <tr>
                                <td class="sm:block">
                                  <table class="w-full">
                                    <tr>
                                      <td
                                        class="text-2xl font-bold sm:text-center sm:text-[20px] sm:leading-10"
                                      >
                                        ЗАКАЗ #1000
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td class="sm:block">
                                  <table class="w-full">
                                    <tr>
                                      <td
                                        class="text-end text-gray-500 sm:text-center sm:text-[13px]"
                                      >
                                        от 20.01.2024 г.
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div
                              class="h-px border-0 border-t border-dashed border-slate-300 bg-none leading-px"
                              role="separator"
                            >
                              &zwj;
                            </div>
                          </td>
                        </tr>
                        <tr role="separator">
                          <td class="leading-7 sm:leading-6">&zwj;</td>
                        </tr>
                        <tr>
                          <td
                            class="text-md text-center font-semibold sm:text-start sm:text-base"
                          >
                            Состав заказа
                          </td>
                        </tr>
                        <tr role="separator">
                          <td class="leading-5">&zwj;</td>
                        </tr>
                        <!-- Table row [start] -->
                        <tr>
                          <!-- desktop [start] -->
                          <td class="max-w-[508px] sm:hidden">
                            <table class="w-full">
                              <thead>
                                <tr class="bg-[#F9F9F9]">
                                  <td
                                    align="start"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Товар
                                  </td>
                                  <td
                                    align="start"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Кол-во
                                  </td>
                                  <td
                                    align="start"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Цена
                                  </td>
                                  <td
                                    align="end"
                                    class="whitespace-nowrap px-2 py-2 text-sm font-semibold text-[#616161]"
                                  >
                                    Сумма
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- Product row [start] -->
                                <tr>
                                  <td>
                                    <table class="w-full">
                                      <tr>
                                        <td class="min-w-[80px]">
                                          <img
                                            src="https://unicom-ykt.ru/uploads/images/original/70c1/70c15fb6edca11e682177062b8b53ba3_0.jpg"
                                            width="80"
                                            height="80"
                                            alt="Product"
                                          />
                                        </td>
                                        <td class="py-4 pl-2">
                                          <table class="w-full">
                                            <tr>
                                              <td class="min-w-[180px] text-sm">
                                                Штукатурка гипсовая
                                                универсальная Ротбанд KNAUF 30
                                                кг.
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                class="pt-2 text-sm text-[#616161]"
                                              >
                                                Код: 2862
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td
                                    align="center"
                                    valign="top"
                                    class="whitespace-nowrap px-2 py-4 font-semibold"
                                  >
                                    100 шт.
                                  </td>
                                  <td
                                    align="center"
                                    valign="top"
                                    class="whitespace-nowrap px-2 py-4 font-semibold"
                                  >
                                    1800 ₽
                                  </td>
                                  <td valign="top" class="py-4">
                                    <table class="w-full">
                                      <tr>
                                        <td
                                          align="end"
                                          class="whitespace-nowrap px-2 text-slate-400 line-through"
                                        >
                                          10 000 ₽
                                        </td>
                                      </tr>
                                      <tr>
                                        <td
                                          align="end"
                                          class="whitespace-nowrap px-2 font-semibold"
                                        >
                                          7 800 ₽
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                  <td>
                                    <div
                                      class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                      role="separator"
                                    ></div>
                                  </td>
                                </tr>
                                <!-- Product row [end] -->
                              </tbody>
                            </table>
                          </td>
                          <!-- desktop [end] -->
                          <!-- sm [start] -->
                          <td class="hidden sm:table-cell">
                            <table class="w-full">
                              <!-- Product row [start] -->
                              <tr>
                                <td valign="top">
                                  <table class="h-[70px] w-[60px]">
                                    <tr>
                                      <td valign="top">
                                        <img
                                          src="https://unicom-ykt.ru/uploads/images/original/70c1/70c15fb6edca11e682177062b8b53ba3_0.jpg"
                                          width="70"
                                          alt="Product"
                                        />
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td class="pl-4">
                                  <table class="w-full">
                                    <tr>
                                      <td class="text-sm">
                                        Штукатурка гипсовая универсальная
                                        Ротбанд KNAUF 30 кг.
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-2">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table class="w-full">
                                          <tr>
                                            <td class="text-sm text-[#737373]">
                                              Код: 2862
                                            </td>
                                            <td></td>
                                          </tr>
                                          <tr role="separator">
                                            <td class="leading-2">&zwj;</td>
                                          </tr>
                                          <tr>
                                            <td class="text-sm text-[#737373]">
                                              Кол-во:
                                            </td>
                                            <td
                                              class="text-end text-sm font-semibold"
                                            >
                                              10 шт
                                            </td>
                                          </tr>
                                          <tr role="separator">
                                            <td class="leading-2">&zwj;</td>
                                          </tr>
                                          <tr>
                                            <td class="text-sm text-[#737373]">
                                              Цена:
                                            </td>
                                            <td
                                              class="text-end text-sm font-semibold"
                                            >
                                              780 ₽
                                            </td>
                                          </tr>
                                          <tr role="separator">
                                            <td class="leading-2">&zwj;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              class="text-sm font-semibold text-[#737373]"
                                            >
                                              Сумма
                                            </td>
                                            <td
                                              class="text-end text-[13px] font-normal text-[#737373] line-through"
                                            >
                                              10 000 ₽
                                            </td>
                                          </tr>
                                          <tr role="separator">
                                            <td class="leading-1">&zwj;</td>
                                          </tr>
                                          <tr>
                                            <td></td>
                                            <td
                                              class="text-end text-sm font-semibold"
                                            >
                                              7 800 ₽
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-4">&zwj;</td>
                              </tr>
                              <tr>
                                <td>
                                  <div
                                    class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                    role="separator"
                                  ></div>
                                </td>
                                <td>
                                  <div
                                    class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                    role="separator"
                                  ></div>
                                </td>
                                <td>
                                  <div
                                    class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                    role="separator"
                                  ></div>
                                </td>
                                <td>
                                  <div
                                    class="h-px border-0 border-t border-solid border-slate-200 bg-none leading-px"
                                    role="separator"
                                  ></div>
                                </td>
                              </tr>
                              <!-- Product row [end] -->
                            </table>
                          </td>
                          <!-- sm [end] -->
                        </tr>
                        <!-- Table row [end] -->
                        <tr role="separator">
                          <td class="leading-4">&zwj;</td>
                        </tr>
                        <!-- Total row [start] -->
                        <tr>
                          <td>
                            <table class="w-full">
                              <tr>
                                <td
                                  class="whitespace-nowrap font-semibold sm:text-sm"
                                >
                                  Общий вес:
                                </td>
                                <td
                                  align="end"
                                  class="whitespace-nowrap font-medium text-[#737373]"
                                >
                                  1000 кг
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td
                                  class="whitespace-nowrap font-semibold sm:text-sm"
                                >
                                  Товаров в заказе:
                                </td>
                                <td
                                  align="end"
                                  class="whitespace-nowrap font-medium text-[#737373]"
                                >
                                  10
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td
                                  class="whitespace-nowrap font-semibold sm:text-sm"
                                >
                                  Товары на сумму:
                                </td>
                                <td
                                  align="end"
                                  class="whitespace-nowrap font-medium text-[#737373]"
                                >
                                  24 089,00 ₽
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td
                                  class="whitespace-nowrap font-semibold sm:text-sm"
                                >
                                  Стоимость доставки:
                                </td>
                                <td
                                  align="end"
                                  class="whitespace-nowrap font-medium text-[#737373]"
                                >
                                  100 ₽
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td
                                  class="whitespace-nowrap font-semibold sm:text-sm"
                                >
                                  Скидка:
                                </td>
                                <td
                                  align="end"
                                  class="whitespace-nowrap font-medium text-[#C30F28]"
                                >
                                  -100 ₽
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td
                                  class="whitespace-nowrap font-semibold sm:text-sm"
                                >
                                  Итого:
                                </td>
                                <td
                                  align="end"
                                  class="whitespace-nowrap text-2xl font-bold leading-4 text-[#19191E] sm:text-xl"
                                >
                                  100 000 000 ₽
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- Total row [end] -->
                        <tr role="separator">
                          <td class="leading-5">&zwj;</td>
                        </tr>
                        <!-- Order info [start] -->
                        <tr>
                          <td class="bg-[#F9F9F9] px-[30px] sm:px-[14px]">
                            <table class="w-full">
                              <tr>
                                <td
                                  class="py-4 text-center text-lg font-bold sm:text-left"
                                >
                                  Информация о заказе
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-4 sm:leading-1">&zwj;</td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="w-full">
                                    <tr>
                                      <td
                                        class="text-sm font-bold text-[#737373] sm:block"
                                      >
                                        Контактное лицо:
                                      </td>
                                      <td
                                        class="whitespace-nowrap text-sm font-normal sm:block"
                                      >
                                        Спиридонова Алена Владимировна
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="text-sm font-bold text-[#737373] sm:block"
                                      >
                                        Телефон:
                                      </td>
                                      <td
                                        class="whitespace-nowrap text-sm font-normal sm:block"
                                      >
                                        8-924-869-86-96
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="text-sm font-bold text-[#737373] sm:block"
                                      >
                                        E-mail:
                                      </td>
                                      <td
                                        class="whitespace-nowrap text-sm font-normal sm:block"
                                      >
                                        a.buimistrova@gk-venture.ru
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="text-sm font-bold text-[#737373] sm:block"
                                      >
                                        Адрес:
                                      </td>
                                      <td
                                        class="whitespace-nowrap text-sm font-normal sm:block"
                                      >
                                        Вилюйский тракт 3 км 1/4
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="text-sm font-bold text-[#737373] sm:block"
                                      >
                                        Статус:
                                      </td>
                                      <td
                                        class="whitespace-nowrap text-sm font-normal text-[#C30F28] sm:block"
                                      >
                                        Не оплачен
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="text-sm font-bold text-[#737373] sm:block"
                                      >
                                        Срок резерва:
                                      </td>
                                      <td
                                        class="whitespace-nowrap text-sm font-normal sm:block"
                                      >
                                        26.03.2023 г.
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- Order info [end] -->
                        <tr role="separator">
                          <td class="leading-4">&zwj;</td>
                        </tr>
                        <!-- Map [start] -->
                        <tr>
                          <td class="bg-[#F9F9F9]">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <img src="images/map.png" alt="Map" />
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-4">&zwj;</td>
                              </tr>
                              <tr>
                                <td class="px-6">
                                  <table class="w-full">
                                    <tr>
                                      <td class="h-6 w-6 sm:align-top">
                                        <img
                                          src="images/location.png"
                                          alt="location"
                                        />
                                      </td>
                                      <td class="pl-[10px] font-normal">
                                        г.Якутск, ул. Бестужева-Марлинского,
                                        64/1
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td class="h-6 w-6 sm:align-top" align="center">
                                        <img
                                          src="images/time.png"
                                          alt="location"
                                        />
                                      </td>
                                      <td class="pl-[10px]">
                                        <table class="w-full">
                                          <tr>
                                            <td>
                                              <p
                                                class="m-0 inline text-[#737373] sm:block"
                                              >
                                                Понедельник-пятница
                                              </p>
                                              9:00-19:00, без перерыва
                                            </td>
                                          </tr>
                                          <tr role="separator">
                                            <td class="leading-1">&zwj;</td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <p
                                                class="m-0 inline text-[#737373] sm:block"
                                              >
                                                Суббота
                                              </p>
                                              10:00-19:00, без перерыва
                                            </td>
                                          </tr>
                                          <tr role="separator">
                                            <td class="leading-1">&zwj;</td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <p
                                                class="m-0 inline text-[#737373] sm:block"
                                              >
                                                Воскресенье
                                              </p>
                                              10:00-18:00, без перерыва
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-[6px]">&zwj;</td>
                                    </tr>
                                    <tr>
                                      <td class="h-6 w-6" align="center"></td>
                                      <td class="pl-[10px] text-[#008000]">
                                        Открыто
                                      </td>
                                    </tr>
                                    <tr role="separator">
                                      <td class="leading-4">&zwj;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- Map [end] -->
                        <tr role="separator">
                          <td class="leading-4">&zwj;</td>
                        </tr>
                        <!-- Find us [start] -->
                        <tr>
                          <td class="py-2 text-center font-bold">Найди нас</td>
                        </tr>
                        <tr role="separator">
                          <td class="leading-1">&zwj;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table class="w-[140px]">
                              <tr>
                                <td align="start"><img src="images/vk.png" alt="vk"></td>
                                <td align="center"><img src="images/tg.png" alt="telegram"></td>
                                <td align="end"><img src="images/yt.png" alt="youtube"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <!-- Find us [end] -->
                        <tr role="separator">
                          <td class="leading-4">&zwj;</td>
                        </tr>
                        <!-- Contacrs [start] -->
                        
                        <!-- Contacrs [end] -->
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
